body { font-family: "RobotoDraft", sans-serif; background-color: #f9f9f9; padding-top: 122px; }
.container-fluid { padding: 0; }
.navbar { font-size: 20px; line-height: 56px; font-weight: 400; color: white; } /* letter-spacing: 5px;*/
.navbar .brand { padding-top: 0; padding-bottom: 0; }
.navbar-inner { background-color: #3f51b5; background-image: none; }
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding-left: 16px; padding-right: 16px; }
.navbar-inner .nav > li > a { height: 56px; padding-top: 0; padding-bottom: 0; line-height: 56px; color: inherit; text-shadow: none; }
h1.page-header { font-size: 34px; line-height: 40px; font-weight: 400; margin-bottom: 30px; border-bottom: none; }
#left-nav .nav-list { font-size: 16px; padding: 0 16px; }
#left-nav .nav-list li a { padding: 16px; }
#left-nav .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus { background-color: inherit; color: black; text-shadow: none; }

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: inherit;
    box-shadow: none;
    color: white;
}
.navbar-inner .nav.nav-tabs > li > a { padding: 0 24px; height: 48px; }
.navbar-inner .nav.nav-tabs > li:first-child > a { padding-left: 0; }
.navbar-inner .nav.nav-tabs { font-size: 14px; border: none; font-weight: 500; color: rgba(255, 255, 255, 0.6); text-transform: uppercase; }
.navbar-inner .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus { color: inherit; opacity: 1; border: none; }
.navbar-inner .nav.nav-tabs > .active > a, .navbar-inner  .nav.nav-tabs > .active > a:hover, .navbar-inner .nav.nav-tabs > .active > a:focus { color: white; border: none; border-bottom: 3px solid #FF4081; }

.pager li > a, .pager li > span { border: 0; border-radius: 2px; height: 36px; min-width: 88px; text-transform: uppercase; font-size: 14px; font-weight: 500; background-color: inherit; color: #FF4081; }
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    background-color: inherit;
}

.span7 ul.nav.nav-list { padding: 0; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); background-color: white; }
.span7 ul.nav.nav-list li { min-height: 72px; font-size: 16px; padding: 16px; border-bottom: 1px solid rgba(0, 0, 0, 0.26); }
.span7 ul.nav.nav-list li div { margin-left: 72px; }
.span7 ul.nav.nav-list li div > a { padding: 0; margin: 0; color: rgba(0, 0, 0, 0.87); }
.span7 ul.nav.nav-list li div > p > a { font-size: 14px; color: rgba(0, 0, 0, 0.54); }

.well { box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); background-color: white; line-height: 24px; color: rgba(0, 0, 0, 0.87); font-size: 14px; padding: 16px; margin-bottom: 8px; }
.well h3 { font-size: 24px; }
.well dt, dd { margin: 0; padding: 0; }
.well dt { float: left; clear: right; }
.well dd { float: right; clear: right; }
dt, dd { line-height: 24px; }