<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="graphity-client" version="3.0">
    <display-name>Graphity Client</display-name>
    <description>Generic Linked Data client</description>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.graphity.client.ApplicationBase</param-value>
        </init-param>
        <init-param>
	    <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
	    <param-value>org.graphity.client.filter.PostReplaceFilter</param-value>
	</init-param>
        <init-param>
            <param-name>http://www.w3.org/ns/sparql-service-description#endpoint</param-name>
            <param-value>http://graphity.dydra.com/graphity/client/sparql</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#graphStore</param-name>
            <param-value>http://graphity.dydra.com/graphity/client/service</param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthUser</param-name>
            <param-value>username</param-value>
        </init-param>
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthPwd</param-name>
            <param-value>password</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#preemptiveAuth</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
        <!--
        <init-param>
            <param-name>http://graphity.org/gp#datasetLocation</param-name>
            <param-value>/org/graphity/client/dataset/dataset.trig</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gp#sitemap</param-name>
            <param-value>http://graphity.org/gps#</param-value>
        </init-param>
        -->
        <init-param>
            <param-name>http://graphity.org/gc#stylesheet</param-name>
            <param-value>/static/org/graphity/client/xsl/global-xhtml.xsl</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#resultLimit</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gc#cacheXSLT</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>